/* Root variables for consistent styling */
:root {
    --primary-color: #f0f5f5;
    /* Adjust as per your color scheme */
    --secondary-color: #aee4e4;
    /* Adjust as per your color scheme */
    --font-primary: 'Merriweather', serif;
    --font-secondary: 'Roboto', sans-serif;
    --dark-background: #f0f0f0;
    --brown-background: #cddcdf;
}

* {
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--dark-background);
}

header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
    border: thin #171818 solid;
    display: flex;
    flex-direction:column;
   
}

img {
    width: 100%;
}
/* Header Styles */
header {

    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    border-bottom: 1px solid #15e0cf;

}

header img {
    width: 100%;
    height: auto;
    background-color: #f0e8e8;;
}

/* Navigation Styles */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    background-color: var(--dark-background);
}

a {
    position: relative;
    color: rgb(14, 12, 12);
    font-size: 28px;
    padding: 0.5rem 1rem
}


/* Hero Section */
.hero {
    position: relative;
}

.hero img {

    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
    color: #e2d6d6;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Article within Hero */
.hero article {
    position: absolute;
    bottom: 20%;
    left: 10%;
    right: 10%;
    background-color: rgba(51, 51, 51, 0.281);
    background-color: rgba(0, 0, 0, 0.5);
    color: #f3efef;
    padding: 20px;
}

.hero article img {
    float: right;
    width: 200px;
    margin: 10px;
}

/* Section Styling */


.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.adventures h2 {
    font-size: 2rem;
    color: #161515;
    grid-column: 1/6;
}

/* Footer Styling */
footer {
    background-color: var(--brown-background);
    color: #110202;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}


/* Social Links */

.sociallinks {
    background-color: unset;
    grid-column: 3;
}
.sociallinks a {
    margin: 0 50px;
}

.sociallinks img {
    width: 50px;
}

.sociallinks a:hover img {
    opacity: 0.7;
}