/* Root variables for consistent styling */
:root {
    --primary-color: #f6f7f8;  /* Adjust as per your color scheme */
    --secondary-color: #15e0cf;  /* Adjust as per your color scheme */
    --font-primary: 'Merriweather', serif;
    --font-secondary: 'Roboto', sans-serif;
    --dark-background: #d3dbdb;
    --dark-background: #e6e7db;
}
* {
    box-sizing: border-box;
}
/* General Styles */
body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--dark-background);
    max-width: 1200px;
    margin: auto;
}
header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--primary-color);
}

/* Header Styles */
header {
    
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    border-bottom: 1px solid #15e0cf ;
   
}

header img {
    width: 100%;
    height: auto;
}

/* Navigation Styles */
nav {
    width:100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
}
a {
    position: relative;
    color: white;
    font-size: 28px;
    padding: 0.5rem 1rem
}


/* Hero Section */
.hero {
    position: relative;
}

.hero img {
    
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 5%;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Article within Hero */
.hero article {
    position: absolute;
    bottom: 20%;
    left: 10%;
    right: 10%;
    background-color: rgba(51, 51, 51, 0.281);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
}

.hero article img {
    float: right;
    width: 200px;
    margin: 10px;
}

/* Section Styling */
fiqure {
    border: thin #15e0cf solid;
    display: flex;
    flex-flow: column ;
    padding: 40px;
}

section img {
    width: 200px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    margin: auto
}

h2 {
    font-size: 2rem;
    color: var(--secondary-color);
}

/* Footer Styling */
footer {
    background-color: var(--blue-background);
    color: #4dbef3;
    text-align: right;
    padding: 20px;
}

footer p {
    margin: 10px 0;
}

/* Social Links */
.sociallinks a {
    margin: 0 10px;
}

.sociallinks img {
    width: 10px;
}

.sociallinks a:hover img {
    opacity: 0.7;
}